html {
  height: 100%;
}

body {
  height: 100%;
}

.container{
  height: 100%;
  align-content: center;
}

.signin{
  height: 100%;
  align-content: center;
}

.signin-card{
  margin-top: 10rem;
  height: 23rem;
}

.signup-card{
  margin-top: 10rem;
  height: 26rem;
}

.mypage-user-card{
  margin-top: 10rem;
}

.mypage-zos-card{
  padding: 15px;
  margin: 30px 0;
  height: 800px;
}

.mypage-zos-card-title{
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ccc;
}

.mypage-zo-card{
  margin: 5px 0;
}

.mypage-zo-card-title{
  background-color: aqua;
  
}
.mypage-zo-card-body{
  padding: 15px;
}

.mypage-zo-create-card{
  padding: 15px;
  margin: 30px 0;
}

.mypage-zo-create-card-row{
  margin: 10px 0;
}
.mypage-zo-create-card-label{
  margin-left: 10px;
}

.mypage-zo-create-card-element-content{
  width: 550px;
  text-align: right;
}
