html {
  height: 100%;
}

body {
  height: 100%;
}

.container{
  align-content: center;
}

.copyright{
  text-align: right;
  font-size: 0.9rem;
  padding: 0 2rem;
}

.signin{
  height: 100%;
  align-content: center;
}

.signin-card{
  margin-top: 10rem;
  height: 23rem;
}

.signup-card{
  margin-top: 10rem;
  height: 28rem;
}

.mypage-user-card{
  margin-top: 10rem;
}

.mypage-user-card-title{
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ccc;
}

.mypage-zos-card{
  padding: 15px;
  margin: 30px 0;
  height: 800px;
}

.mypage-zos-card-title{
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ccc;
}

.mypage-zo-card{
  margin: 5px 0;
}

.mypage-zo-card-title{
  background-color: aqua;
  
}
.mypage-zo-card-body{
  padding: 15px;
}

.mypage-zo-create-card{
  padding: 15px;
  margin: 30px 0;
}

.mypage-zo-create-card .card-row{
  margin: 10px 0;
}
.mypage-zo-create-card .card-label{
  margin-left: 10px;
}
.mypage-zo-create-card .card-message{
  width: 550px;
  text-align: right;
}
.mypage-zo-create-card .exp {
  min-width: 180px;
}