{{ define "content" }}

<row>
    <div class=" flex-column justify-content-center ">
        <div class=" card mypage-zos-card overflow-auto">
            <div class="card-title mypage-zos-card-title">▼Zo一覧</div>

            {{ range .model.Zos.Zos }}
            <div class=" card mypage-zo-card">
                <div class="card-title mypage-zo-card-title"></div>
                <div class="card-body mypage-zo-card-body">
                    <div>
                        {{.AchievementDate | TimeToSimple}}
                        ＜経験値＞: {{ .Exp }}
                    </div>
                    <div>
                        【{{ .CategoryId }}】
                        {{ .Message }}ゾ
                    </div>
                </div>
            </div>
            {{ end }}
        </div>

        <div class="card mypage-zo-create-card">
            <div class="card-title mypage-zos-card-title">▼作成</div>
            <form action="" method="post">
                <div class="mypage-zo-create-card-row">
                    <label for="achievementdate" class="mypage-zo-create-card-label">達成日</label>
                    <input type="date" name="achievementdate" id="achievementdate" required>
                    <label for="exp" class="mypage-zo-create-card-label">獲得経験値</label>
                    <input type="number" name="exp" id="exp" required placeholder=" 1000でレベルアップ">
                    <label for="categoryId" class="mypage-zo-create-card-label">カテゴリー</label>
                    <input type="number" name="categoryId" id="categoryId" required>
                </div>
                <div class="mypage-zo-create-card-row">
                    <label for="message" class="mypage-zo-create-card-label">内容</label>
                    <input type="text" name="message" id="message" class="mypage-zo-create-card-element-content"
                        required placeholder=" 〜した 〜出来た（３０文字制限）">ゾ！
                </div>
                <div>
                    {{.csrfField}}
                    <input type="submit" value="追加！">
                </div>
            </form>
        </div>
    </div>
</row>
{{ end }}