{{ define "content" }}

<row>
    <div class="flex-column justify-content-center ">
        <div class="card mypage-zos-card overflow-auto">
            <div class="card-title mypage-zos-card-title">▼Zo一覧</div>

            {{ range .model.Zos.Zos }}
            <div class="card mypage-zo-card">
                <div class="card-title mypage-zo-card-title"></div>
                <div class="card-body mypage-zo-card-body">
                    <div>
                        {{.AchievementDate | TimeToSimple}}
                        ＜経験値＞: {{ .Exp }}
                    </div>
                    <div>
                        【{{ .CategoryName }}】
                        {{ .Message }}ゾ
                    </div>
                </div>
            </div>
            {{ end }}
        </div>

        <div class="card mypage-zo-create-card">
            <div class="card-title mypage-zos-card-title">▼作成</div>
            <form action="" method="post">
                <div class="card-row">
                    <label for="achievementdate" class="card-label">達成日</label>
                    <input type="date" name="achievementdate" id="achievementdate" value="{{.model.TodayStr}}" required>
                    <label for="exp" class="card-label">獲得経験値</label>
                    <input type="number" name="exp" id="exp" class="exp" required placeholder=" 100でレベルアップ" min="0"
                        max="1000">
                    <label for="categoryId" class="card-label">カテゴリー</label>
                    <select name="categoryId" required>
                        {{ range .model.Categories.Categories }}
                        <option value="{{ .Id }}">{{ .Name }}</option>
                        {{ end }}
                    </select>

                </div>
                <div class="card-row">
                    <label for="message" class="card-label">内容</label>
                    <input type="text" name="message" id="message" class="card-message" required
                        placeholder=" 〜した 〜出来た（３０文字制限）">ゾ！
                </div>
                <div>
                    {{.csrfField}}
                    <input type="submit" value="追加！">
                </div>
            </form>
        </div>
    </div>
</row>
{{ end }}