{{ define "layout" }}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/external/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="/static/internal/css/mycss.css">
    <title>{{.title}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Zo Web Cli</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            </div>

            <div class="navbar-nav">
                {{ if .isLogin }}
                <a class="nav-link far fa-user fa-lg " href="/mypage/user"></a>
                <a class="nav-link fab fa-brands fa-angellist fa-lg " href="/mypage/zos"></a>

                <form class="form-inline" action="/signout" method="POST">
                    {{.csrfField}}
                    <input type="submit" value="Logout">
                </form>
                {{ else }}
                <a class="nav-link" href="/signup">登録</a>
                <a class="nav-link" href="/signin">ログイン</a>
                {{ end }}
            </div>
        </div>
    </nav>

    <p>{{.message}}</p>

    <div class="container">
        {{ template "content" . }}
    </div>

    <footer>
        <p class="copyright">© 2022
            <a target="_blank" href="https://twitter.com/Artefacttw">
                Artefact</a>
        </p>
    </footer>
</body>

<script src="/static/external/js/bootstrap.min.js"></script>

</html>

{{ end }}